[Desktop Entry]
Version=1.0
Type=Application
Name=Restart flrig-wrap
Comment=
Exec=/opt/telekinesis/init.d/flrig-vnc restart
Icon=
Path=
Terminal=true
StartupNotify=false
