[submodule "ext/Chroma-Hash"]
	path = ext/Chroma-Hash
	url = https://github.com/mattt/Chroma-Hash.git
[submodule "ext/xterm.js"]
	path = ext/xterm.js
	url = https://github.com/xtermjs/xterm.js.git
[submodule "ext/toastr"]
	path = ext/toastr
	url = https://github.com/CodeSeven/toastr.git
[submodule "ext/cron"]
	path = ext/cron
	url = https://github.com/vixie/cron.git
[submodule "ext/chan-sccp"]
	path = ext/chan-sccp
	url = https://github.com/chan-sccp/chan-sccp.git
[submodule "ext/asterisk"]
	path = ext/asterisk
	url = https://github.com/asterisk/asterisk.git
