<div id="memory_editor">
 <label for="mem_name">Name:</label>
 <input id="mem_name" name="mem_name"/><br/>
 <label for="mem_freq">Frequency:</label>
 <input id="mem_freq"/><br/>
 <label for="mem_mode">Mode:</label>
</div> <!-- memory_editor -->