<link rel="stylesheet" media="screen" href="css/radio.css"/>
<div id="Pane_Left">
 <div id="Radio">
  <div id="RadioGUI">
   <form id="CAT" action="#">
    <div id="RadioControls">
     <div id="CAT_band">
      <label for="CAT_band">BAND</label><br/>
      <select name="CAT_band" id="CAT_band">
       <option value="160M">160M</option>
       <option value="80M">80M</option>
       <option value="40M">40M</option>
       <option value="30M">30M (Digi)</option>
       <option value="20M">20M</option>
       <option value="17M">17M</option>
       <option value="12M">12M</option>
       <option value="10M">10M</option>
       <option value="6M">6M</option>
       <option value="2M">2M</option>
       <option value="70CM">70CM</option>
      </select>
     </div> <!-- CAT_band -->
     <div id="CAT_mode">
      <label for="CAT_mode">MODE</label><br/>
      <select name="CAT_mode" id="CAT_mode">
       <option value="CW">CW</option>
       <option value="LSB">LSB</option>
       <option value="USB">USB</option>
       <option value="CWL">CW-LSB</option>
       <option value="CWU">CW-USB</option>
      </select>
     </div> <!-- CAT_mode -->
     <div id="CAT_step">
      <label for="CAT_step">STEP</label><br/>
      <select name="CAT_step" id="CAT_step">
       <option value="12.5">12.5 KHz</option>
       <option value="10k">10 KHz</option>
       <option value="9k">9 KHz</option>
       <option value="5k">5 KHz</option>
       <option value="1k">1 KHz</option>
       <option value="370">370 Hz</option>
       <option value="50" selected>50 Hz</option>
       <option value="10">10 Hz</option>
      </select>
     </div> <!-- CAT_step -->
     <div id="CAT_agc">
      <label for="CAT_agc">AGC</label><br/>
      <select name="CAT_agc" id="CAT_agc">
       <option value="off" selected>OFF</option>
       <option value="slow">SLOW</option>
       <option value="med">MED</option>
       <option value="fast">FAST</option>
      </select>
     </div> <!-- CAT_agc -->
    </div> <!-- RadioControls -->
   </form> <!-- CAT -->
   <div id="RadioDisplay">
    <div id="VFO_A" class="VFO ActiveVFO">
    A:
     <span id="VFO_A_Freq" class="VFO_Freq">7,025,000</span>&nbsp;Hz
    </div>
    <div id="VFO_B" class="VFO">
     B:
     <span id="VFO_B_Freq" class="VFO_Freq">14,130,500</span>&nbsp;Hz
    </div>
    <div id="statusLights">
     <span id="stat_TX" class="stat_bt">TX</span>
     <span id="stat_RIT" class="stat_bt">RIT</span>
     <span id="stat_SPLIT" class="stat_bt">SPLIT</span>
     <span id="stat_AGC" class="stat_bt stat_ACTIVE">AGC</span>
    </div> <!-- statusLights -->
    <div id="Tuning">
     <img src="img/knob.svg" alt="VFO Tuning Knob" id="TuningKnob"/>
    </div>
    <div id="TabStrip_B">
     <div class="TabBar" id="Tab_B">
      <span class="Tab" id="Tab_B_Settings">Settings</span>
      <span class="Tab" id="Tab_B_Memories">Memories</span>
     </div>
     <form id="Settings" action="#">
      <div id="View_Settings">
       <span id="SettingsLoading">Loading available settings from radio...</span>
       Callsign: <input name="Settings_Callsign" id="Settings_Callsign"/>
      </div>
      <div id="View_Memories">
       <center><a href="#">* SAVE *</a></center>
       <ul>
        <li><a href="#">7,025,000 Hz (CW)</a></li>
        <li><a href="#">7,225,000 Hz (LSB)</a></li>
       </ul>
      </div> <!-- View_B_Memories -->
     </form> <!-- Settings -->
    </div> <!-- TabStrip_B -->
   </div> <!-- RadioDisplay -->
</div> <!-- Pane_Left -->
<div id="Pane_Right">
 <div id="TabStrip_A">
  <div class="TabBar" id="Tab_A">
   <span class="Tab" id="Tab_A_Voice">Voice</span>
   <span class="Tab" id="Tab_A_Decoder">Decoder</span>
   <span class="Tab" id="Tab_A_Waterfall">SDR</span>
   <span class="Tab" id="Tab_A_FileXFER">XFER</span>
  </div> <!-- TabBar -->
  <form id="Voice">
   <div id="View_Voice" name="Voice">
   </div>
  </form>
  <form id="Decoder">
   <div id="View_Decoder" name="CW">
    <div id="CW_Text" name="CW_Text"></div>
    <div id="CW_Input">
     <input id="CW_Input" name="CW_Input" type="text"></input>
     <input id="CW_Send" type="submit" value="SEND"></input>
    </div> <!-- CW_Input -->
    <div id="CW_Macro">
     <!-- Here we should load saved macros via ajax/json -->
     <center>Macros</center>
     <input type="button" id="CW_Macro_Add" value="*NEW*"/>
     <input type="button" id="CW_Clear" value="CLEAR"/>
     <input type="button" id="CW_Macro_CQ" value="CQ"/>
    </div> <!-- CW_Macro -->
   </div> <!-- View_Decoder -->
  </form> <!-- Decoder -->
  <div id="View_Waterfall" name="Waterfall">
   Waterfall view requires SDR.<br/>
   Please check the <span id="Link_CONFIG" class="link">CONFIGURATON</span>.
  </div>
  <div id="View_FileXFER">
   File transfer isn't supported yet :(
  </div>
 </div> <!-- TabStrip_A -->
</div> <!-- Pane_Right -->
