* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body, div#wrap, div#left, div#right {
   background: rgb(4,32,32);
   background: linear-gradient(0deg, rgba(4,32,32,1) 0%, rgba(0,16,32,1) 100%);
   color: #dbfcfc;
   font-family:"Roboto", Arial, sans-serif;
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* Allow selection within an element */
.selectable {
   -webkit-user-select: auto;
   -moz-user-select: auto;  
   -ms-user-select: auto;
   user-select: auto;
}

input, textarea, select {
   color: #cbfcfc !important;
   background-color: #1a1d1e !important;
}

div#wrap {
   position: fixed;
   left: 0px;
   top: 0px;
   height: 100%;
   width: 100%;
}

input {
    color: #cbfcfc;
}

input:hover {
    box-shadow: 0 0 10px 5px rgba(14, 50, 208, 0.8);
}

input[type=submit]:hover, input[type=submit]:active {
    box-shadow: 0 0 10px 5px rgba(14, 208, 38, 1.0);
}

input[type=reset]:hover, input[type=reset]:active {
    box-shadow: 0 0 10px 5px rgba(208, 14, 14, 1.0);
}

input[type=text], input[type=password] {
   background: #042020;
   border: 2px solid #002040;
   border-radius: 10px;
   color: #cbfcfc;
   font-size: 2em;
   padding: 0px;
   margin: 0px;
}

.s_server {
   color: #cbfcfc;
   font-size: 2em;
   padding: 0px;
   padding-bottom: 0.25em;
   margin: 0px;
}

.tilda {
    position: absolute;
}

input[type=submit], input[type=reset] {
   background: #1A1D1E;
   border: 2px solid #002040;
   border-radius: 8px;
   margin-left: 1em;
   margin-right: 1em;
   padding-left: 1.5em;
   padding-right: 1.5em;
   padding-top: 0.25em;
   padding-bottom: 0.25em;
   font-size: 1.8em;
}

input[type=submit]:active, input[type=reset]:active {
   border: 2px solid #002040;
   border-radius: 8px;
}

input[type=text]:disabled, input[type=password]:disabled {
   cursor: pointer;
   background-color: #af3030;
   background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
   background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
   background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
   background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}

/* login splash */
div#login {
   position: fixed;
   background: #240c0c;
   margin: 0px;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 100%;
}

div#login_wrap {
   margin: 0px;
   position: absolute;
   background: #084040;
   border: 3px solid #084040;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   top: 1em;
   left: 25%;
   width: CALC(50% + 2em);
}

div#login fieldset {
   margin: 0px;
   background: #084040;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   padding: 1em;
}

table#login_user label {
   display: flex;
   align-items: center;
   font-size: 1.5em;
   text-align: right;
}

input[readonly] {
   pointer-events: none;
   background-color: #042020;
}

table#login_user input[type=text], table#login_user input[type=password] {
   color: #090977;
   padding-left: 0.25em;
   padding-right: 0.25em;
   margin-bottom: 0.3em;
   width: 100%;
}

div#login_inner {
   position: relative;
   height: 16em;
   padding: 0.5em;
   top: 0px;
   left: 0px;
   width: 100%;
}

span#login_header, span#login_header h1 {
   background: #052d2d;
   border: 0px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   color: #f00000;
   margin: 0px;
}

div#status {
   background: rgb(4,32,32);
   background: linear-gradient(0deg, rgba(4,32,32,1) 0%, rgba(0,16,32,1) 100%);
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-top: 2px solid #052d2d;
   border-left: 4px solid #052d2d;
   border-right: 4px solid #052d2d;
   padding: 1em;
   padding-top: 0.1em;
   padding-bottom: 4px;
   position: fixed;
   left: 0px;
   bottom: 0em;
   height: 2.4em;
   width: CALC(100% - 8px - 2em);
}

div#status span {
   pointer-events: none;
}

.setbtn {
    position: absolute;
    bottom: 0.2em;
    height: 1.35em;
    margin: 0px;
    border-radius: 10px;
    font-size: 1.4em;
    padding-bottom: 0.2px;
    padding-top: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    background: #2c2c2c;
    border: 1px solid #4c4c4c;
}

#settings {
    left: 0.2em;
    background: #1f4040;
    border: 1px solid #4c4c4;
    width: 6em;
}

#s_online {
    left: 7.2em;
    background: #990000;
    border: 1px solid #00ff00;
}
    
#s_bitrate {
    right: 0.2em;
    text-align: center;
    width: 12em;
}

#settings:hover {
    background: #6C5C5;
    border: 1px solid #459393;
}

#s_online:hover {
    background: blue;
    box-shadow: 0 0 10px 5px rgba(14, 208, 34, 1.0);
}

.online {
    background: #009900 !important;
    border: 1px solid #00ff00 !important;
}

span#login_test, span#login_nettest {
    text-decoration: underline;
}

div#settings_menu {
    background: #2f0f0f;
    display: none;
    position: fixed;
    bottom: 2.6em;
    left: 0.75em;
    height: CALC(100% - 5em);
    width: 50em;
}
